{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Home</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quam, in excepturi quis dolore voluptatum exercitationem sunt obcaecati a natus modi temporibus quod est! Reprehenderit minus molestiae ipsum consectetur nihil vel nemo quis! Illum adipisci voluptatibus quibusdam! Molestiae nihil eaque, quas veniam voluptatum enim quidem unde repudiandae dolores! Placeat ipsum aliquid quisquam error fuga nostrum perspiciatis consequatur dicta modi iste omnis, distinctio, non eveniet, excepturi praesentium inventore iure veniam explicabo ut quos provident tempora odit molestiae? Magni praesentium expedita natus voluptatem quisquam cum saepe officia, iste incidunt doloremque repellat explicabo obcaecati distinctio. Repudiandae veniam quod, rerum unde nisi doloremque quam.
  </p>
</div>

{% endblock %}
